<b>Data Engineering Assessment</b>

Importing Necessary Packages from Python for the ETL Pipeline

In [ ]:
from datetime import datetime, timedelta
import os
import pandas as pd
import sqlalchemy

Check the current working directory

In [ ]:
os.getcwd()

Create a Connection string to the database and Load SQL Extension * Only for Jupyter NoteBook

In [ ]:
%load_ext sql

In [ ]:
%env DATABASE_URL=postgresql://de_user:de_password@localhost/data_engineering_assessment

Check If we are in correct database if you need the server IP instead of localhost
please contact me

In [ ]:
%%sql
select current_database()

Create Customer Staging Table

In [ ]:
%%sql
CREATE TABLE customer_details_stage(
"Customer_Name" text not NULL,
"Customer_Id" text not NULL,
"Open_Date" timestamp without time zone,
"Last_Consulted_Date" timestamp without time zone,
"Vaccination_Id" text,
"Dr_Name" text,
"State" text,
"Country" text,
"DOB" timestamp without time zone,
"Is_Active" text
)

<b> Start Extraction of the data from the files </b>

In [ ]:
#read the data from the csv files

initial_df=pd.read_csv('/home/sayfsyed007/data.csv',sep='|',dtype=str,parse_dates=[4,5,"DOB"])

In [ ]:
#removing the blank values and garbage values during extraction
initial_df=initial_df.iloc[:,2:12]

In [ ]:
#processing the date string into datetime object
date_series=[]
for i in initial_df['DOB']:
    date=datetime(year=int(i[4:9]),month=int(i[2:4]),day=int(i[0:2]))
    #print(date)
    date_series.append(date)

initial_df['DOB']=date_series

<b>Loading the processed dataframe to staging table </b>

To load the table we need to create a database engine by following the steps below

In [ ]:
db_engine=engine = sqlalchemy.create_engine('postgresql+psycopg2://de_user:de_password@localhost/data_engineering_assessment')

In [ ]:
#finally loading the initial dataframe to staging table
initial_df.to_sql("customer_details_stage",db_engine,index=False,if_exists="append")

Creating individual customer tables created by country name

In [ ]:
#creating a dictionary of dataframes corresponding to the countries
df_acc_countries=dict()
for i in df['Country']:
    sql=f"""SELECT * FROM customer_details_stage1 where "Country"='{i}'"""
    df_acc_countries[f"{i}"+"_table"]=pd.read_sql(sql,db_engine)
df_acc_countries

In [ ]:
#creating individual tables for customers corresponding to country
for j in df_acc_countries:
    df_acc_countries[j].to_sql(f"{j}",db_engine,index=False,if_exists="append")

In [ ]:
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';